[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium (trabajo, WORK, datapar, chamba)
Comment=Open Chromium with Work profile
Exec=chromium --profile-directory="Profile 1"
Icon=chromium
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true

